@font-face {
 font-family: "Open Sans";
 src: url("../fonts/OpenSans-Regular.woff2") format("woff2"),
      url("../fonts/OpenSans-Regular.woff") format("woff"),
      url("../fonts/OpenSans-Regular.ttf") format("truetype");
      font-weight: 400;
}

@font-face {
 font-family: "Open Sans";
 src: url("../fonts/OpenSans-Bold.woff2") format("woff2"),
      url("../fonts/OpenSans-Bold.woff") format("woff"),
      url("../fonts/OpenSans-Bold.ttf") format("truetype");
      font-weight: 700;
}

body {
  font-family: Open Sans;
  margin: 0 auto;
  
}

main {
  max-width: 1920px;
  margin: 0 auto;
}

header {
  margin: 0 auto;
  background-color: #0b0f33;
  background-image: url(../img/football320.jpg);
  background-size: cover;
  color: #ffffff;
  text-transform: uppercase;
  padding-bottom: 70px;
}

.logo {
	display: block;
	margin: auto;
	padding-top: 33px;
	margin-bottom: 123px;
}

.motto {

  font-weight: 700;
  font-size: 30px;
}

.motto1 {
  display: block;
	margin-left: 6%;
  margin-bottom: 12px;
}

.motto2 {
  display: block;
	margin-left: 20%;
  line-height: 1.3;
  margin-bottom: 75px;
}




.button {
	display: block;
	margin: 12px auto;
	width: 280px;
	height: 37px;
	background-color: #5e42b0;
	border-radius: 30px;
	text-align: center;

}

.apple::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 25px;
  height: 25px;
  margin-right: 10px;

  margin-top: 5px;
  background-image: url("../img/svg/apple_logo_black.svg");
  background-repeat: no-repeat;
}

.google::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 25px;
  height: 25px;
  margin-right: 10px;
  margin-top: 5px;
  background-image: url("../img/svg/google-play.svg");
  background-repeat: no-repeat;
}


.button__label {
	text-align: left;
  display: inline-block;
  width: 26%;
  vertical-align: middle;
  color: #fff;
  text-transform: uppercase;
  font-size: 8px;
  margin-top: 5px;

}
.name {
	line-height: 0;
  margin-left: 17px;
  margin-bottom: 5px;
}

.pic {
	text-align: center;
}

.name h2 {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 55px;
	color: #e7e7e7;

}

.list h3 {
  display: inline-block;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 23px;
	color: #c1c1c1;
  vertical-align: middle;
  line-height: 0;

}

.number {
  font-size: 14px;
  font-weight: 700;
  position: relative;
  display: inline-block;
  margin-right: 10px;

}

.number::after {
  position: absolute;
  content: '';
  left: 0;
  right: 0;
  height: 4px;
  background-color: #5e42b0;
  border-radius: 5px;
  bottom: -3px;

}

.list3 .number::after {
  background-color: #ffffff;
}

.list6 .number {
  color: #5e42b0;
}

.list6 .number::after {
  background-color: #ffffff;
}

.list p {
	font-size: 15px;
  margin-top: 9px;
  line-height: 1.2;
}
.list {
	padding: 48px 20px 36px 20px;
}

.list1 {
    padding-top: 0;
}

.list2, .list5 {
	background-color: #f5f4f9;
  padding-right: 30px;
}

.list4 {
  padding-top: 33px;
  padding-right: 40px;
}

.list3 {
	background-color: #5e42b0;
padding-right: 50px;
}

.list6 {
	background-color: #090c35;
  padding-bottom: 38px;

}

.list3 p, .list6 p {
	color: #ffffff;
}

.instr img {
	width: 100%;
  }

.instr_image {
position: relative;
}

.cube {
  display: flex;
  position: absolute;
  width: 70px;
  height: 70px;
  background-color: #5e42b0;
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1;
  left: 20px;
  bottom: -7px;

}

.num {
  margin: auto;
  position: relative;
}

.num::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  height: 4px;
  background-color: #ffffff;
  opacity: 0.3;
  border-radius: 5px;
  bottom: -5px;
}

.instr h3 {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 28px;
	color: #e7e7e7;
  margin-top: 20px;
  margin-bottom: 11px;
}

.instr p {
	font-size: 16px;
  margin-top: 0;
  line-height: 1.35;
}

.text {
	padding: 0px 70px 62px 20px;
}

.instr2 .text {
  padding-right: 10px;
}

.instr3 .text {
  padding-right: 10px;
  padding-bottom: 50px;
}

footer {
  margin: 0 auto;
  padding-bottom: 10px;
  background-color: #0b0f33;
  background-image: url(../img/game320.jpg);
  background-size: cover;
  color: #ffffff;
  text-transform: uppercase;
  padding-top: 100px;
  text-align: center;
}

.cube2 {

  margin: auto;
  width: 70px;
  height: 70px;
  background-color: #6f4fcb;
  border-radius: 10px;
  text-align: center;
}

.logo_foot {
margin-top: 10px;

}

.download {
  margin-top: 75px;
  font-size: 32px;
  font-weight: 700;
  line-height: 0;
}

.motto3 {
  font-size: 14px;
  color: #9b8ec1;
  margin-bottom: 80px;
  margin-top: 30px;
  line-height: 0;
}

.logo_foot2 {
  margin-top: 70px;
}

@media (min-width: 641px) and (max-width: 960px) {

  header {
    padding-bottom: 90px;
    background-image: url(../img/foorball768.jpg);
  }

  .logo {
    width: 205px;
    height: 60px;
  }

  .motto {
    font-size: 64px;
  }
  .motto1 {
  	margin-left: 11%;
    margin-top: 175px;
    margin-bottom: 5px;
    line-height: 1;
  }

  .motto2 {
  	margin-left: 25%;
    margin-top: 0;
    line-height: 1.2;
  }

  .buttons {
    display: flex;
    justify-content: center;
    margin-top: 300px;
    margin-bottom: 5px;
  }

  .button {
    width: 40%;
    height: 76px;
    margin: 0 15px;
    border-radius: 40px;
    text-align: left;
  }

  .apple::before {
    width: 42px;
    height: 46px;
    margin-top: 18px;
    margin-right: 28px;
    margin-left: 35px;
  }



  .google::before {
    width: 42px;
    height: 46px;
    margin-top: 20px;
    margin-right: 28px;
    margin-left: 57px;
  }


  .button__label {
  	width: 35%;
    font-size: 14px;
    margin-top: 15px;

  }

  .name {
    position: relative;
    margin-left: 0;
  }

  .pic {
  	position: absolute;
    top: -15px;
    left: 0;


  }

  .name h2 {
  	font-size: 80px;
    margin-left: 290px;
    margin-top: 110px;
  }

  .list h3 {
  	font-size: 32px;


  }
  .list p {
  	font-size: 16px;
    margin-left: 290px;
    line-height: 1.7;
    margin-bottom: 0;
    margin-top: 7px;
  }
  .list {
  padding: 15px 40px 38px 0;
  }

  .list1 {
    padding-top: 8px;
  }

  .name2 h2 {
    margin-left: 30px;
    margin-right: 340px;
    margin-top: 112px;

  }

  .list4 p, .list5 p, .list6 p {
    margin-left: 30px;
    margin-right: 340px;
  }

  .pic2 {
    right: 0;
    top: -75px;
    text-align: right;

  }

.list4 {
    padding-top: 6px;
}

  .number {
    font-size: 18px;
    margin-right: 10px;
    margin-left: 290px;
  }

  .number::after {
    height: 5px;
    background-color: #5e42b0;
    border-radius: 5px;
    bottom: -6px;

  }
  .list4 .number, .list5 .number, .list6 .number {
    margin-left: 34px;

  }

  .cube {
    position: absolute;
    width: 115px;
    height: 115px;
    background-color: #5e42b0;
    left: 33px;
    bottom: -30px;
    font-size: 24px;

  }

  .cube12, .cube13 {
      bottom: -20px;
  }


.num::after {
  height: 5px;
  bottom: -12px;
}

  .instr h3 {
  	font-size: 80px;
    margin-bottom: 9px;
  }

  .instr p {
  	font-size: 24px;
    line-height: 1.2;
  }

  .instr1 .text, .instr2 .text, .instr3 .text {
  	padding: 40px 130px 75px 27px;
  }

  .instr2 .text, .instr3 .text {
    padding-top: 30px;
    padding-bottom: 80px;
  }

.instr3 .text {
  padding-bottom: 90px;
}



  footer {
    padding-bottom: 22px;
    background-image: url(../img/game768.jpg);
    text-align: center;
  }

  .cube2 {
    width: 130px;
    height: 137px;
    background-color: #6f4fcb;
    border-radius: 30px;
    text-align: center;
    margin-top: 25px;
  }

  .logo_foot {
  margin-top: 23px;
  width: 104px;
  height: 85px;

  }

  .download {
    margin-top: 110px;
    margin-bottom: 70px;
    font-size: 80px;
  }

  .motto3 {
    font-size: 36px;
    margin-bottom: 285px;
  }

  .logo_foot2 {
    margin-top: 50px;
    width: 205px;
    height: 60px;
  }

}

@media (min-width: 961px) {



  header {
    padding-bottom: 110px;
    background-image: url(../img/foorball1920.jpg);
  }

  .logo {
    width: 190px;
    height: 52px;
    padding-top: 45px;
  }

  .motto {
    font-size: 4.7vw;
  }
  .motto1 {
    margin-left: 9.5%;
    margin-top: 325px;
    line-height: 0;
  }

  .motto2 {
    margin-left: 33%;
    margin-top: 35px;
  }

  .buttons {
    display: flex;
    justify-content: center;
    margin-top: 200px;
  }

  .button {
    width: 310px;
    height: 78px;
    margin: 0 25px;
    border-radius: 50px;
  }

  .apple::before {
    width: 42px;
    height: 46px;
    margin-top: 15px;
    margin-right: 26px;
  }

  .google::before {
    width: 42px;
    height: 46px;
    margin-top: 15px;
    margin-right: 26px;
  }


  .button__label {
  	width: 35%;
    font-size: 14px;
    margin-top: 15px;

  }

  .name {
    position: relative;
    margin-left: 0;
  }

  .pic {
    position: absolute;
    top: -120px;
    left: 20vw;
    }
.pic img {
    width: 30vw;
}

  .name h2 {
    font-size: 80px;
    margin-left: 52.5vw;
    margin-top: 140px;
  }

  .list h3 {
    font-size: 36px;

  }
  .list p {
    font-size: 20px;
    margin-left: 52.5vw;
    line-height: 1.4;
    margin-bottom: 0;
    margin-top: 0;
  }
  .list {
    padding-top: 40px;
    padding-bottom: 54px;
    padding-right: 60px;
    padding-left: 0;
  }

  .list1 {
    padding-top: 52px;
  }

  .name2 h2 {
    margin-left: 10vw;
    margin-top: 145px;
  }
  .number {
    font-size: 18px;
    margin-right: 13px;
    margin-left: 52.5vw;
  }

  .number::after {
    height: 5px;
    background-color: #5e42b0;
    border-radius: 5px;
    bottom: -6px;

  }

  .list4 {
    padding-top: 53px;
  }

  .list5 {
    padding-bottom: 84px;
  }
  .list5 p {
    margin-top: 10px;
  }

  .list4 .number, .list5 .number, .list6 .number {
    margin-left: 10vw;

  }

  .list4 p, .list5 p, .list6 p {
    margin-left: 10vw;
    margin-right: 51vw;
  }

  .pic2 {
    right: 7vw;
    top: -120px;
    text-align: right;

  }
.pic2 img {
  width: 51vw;
}



  .cube {
    position: absolute;
    width: 168px;
    height: 155px;
    background-color: #5e42b0;
    left: auto;
    right: -85px;
    top: 11vw;
    font-size: 24px;
  }

  .cube12 {
      left:-85px;
      top: 10.8vw;
  }

  .num::after {
    height: 5px;
    bottom: -9px;
  }

  .instr {
  display: flex;
  box-sizing: border-box;
  }

  .instr_image {
    width: 50%;
    box-sizing: border-box;
  }
  .text {
    width: 50%;
    box-sizing: border-box;
  }

  .instr2 {
    flex-direction: row-reverse;
  }

.instr_image {
  font-size: 0;
}


  .instr h3 {
  	font-size: 4.2vw;
    margin-top: 80px;
  }

  .instr p {
  	font-size: 1.25vw;
    margin-top: 86px;
    line-height: 1.3;
  }

  .text {
    padding: 8vw 9.4vw 4.2vw 126px;
  }

  .instr2 .text {
    padding-left: 9.8vw;
    padding-right: 9vw;
  }

  .instr3 .text {
    padding-right: 10vw;
  }

  .instr2 p {
    margin-top: 45px;
  }

  .instr3 p {
    margin-top: 80px;
  }

  footer {
    padding-bottom: 50px;
    background-image: url(../img/game1920.jpg);
    padding-top: 100px;
    text-align: center;
  }

  .foot_cont {
    display: flex;
      justify-content: center;
  }


  .cube2 {
    width: 130px;
    height: 137px;
    background-color: #6f4fcb;
    border-radius: 20px;
    text-align: center;
    margin: 130px 37px;
  }

  .logo_foot {
  margin-top: 20px;
  width: 100px;
  height: 85px;

  }

  .download {
    margin-top: 178px;
    font-size: 80px;
    line-height: 0;
  }

  .motto3 {
    font-size: 30px;
    margin-bottom: 170px;
    line-height: 0;
    text-align: left;
  }

  .buttons_foot {
    margin-top:0;
  }


  .logo_foot2 {
    margin-top: 260px;
    width: 190px;
    height: 55px;
  }

}
