body {
  margin: 0;
}

header {
  height: 568px;
  background-color: #0b0f33;
  background-image: url(img/football320.jpg);
  background-size: cover;
  color: #ffffff;
  font-family: Open+Sans;
}
.logo {
fill: #ffffff;
}
