body {
  font-family: Open Sans;
  margin: 0 auto;
}

div.conteiner {
  max-width: 1920px;
  margin: 0 auto;
}

header {
  margin: 0 auto;

  height: 568px;
  background-color: #0b0f33;
  background-image: url(../img/football320.jpg);
  background-size: cover;
  color: #ffffff;
  text-transform: uppercase;
}

.logo {
	display: block;
	margin: auto;
	padding-top: 33px;
	margin-bottom: 133px;
}

h2.motto1, h2.motto2 {

  font-weight: 700;
  font-size: 30px;
}

.motto1 {
	margin-left: 6.3%;

}

.motto2 {
	margin-left: 12.5%;
}




.button {
	display: block;
	margin: 12px auto;
	width: 280px;
	height: 37px;
	background-color: #5e42b0;
	border-radius: 30px;
	text-align: center;

}

.apple::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 25px;
  height: 25px;
  margin-right: 10px;

  margin-top: 5px;
  background-image: url("../img/svg/apple_logo_black.svg");
  background-repeat: no-repeat;
}

.google::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 25px;
  height: 25px;
  margin-right: 10px;
  margin-top: 5px;
  background-image: url("../img/svg/google-play.svg");
  background-repeat: no-repeat;
}


.button__label {
	text-align: left;
  display: inline-block;
  width: 26%;
  vertical-align: middle;
  color: #fff;
  text-transform: uppercase;
  font-size: 8px;
  margin-top: 5px;

}
.name {
	line-height: 0;
}

.pic {
	text-align: center;
}

.name h2 {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 55px;
	color: #e7e7e7;
}

.list h3 {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 23px;
	color: #c1c1c1;

}
.list p {
	font-size: 15px;
}
.list {
	padding: 60px 20px;
}

.list h3::before {
  content: "";
  width: 20px;
   height: 18px;
   display: inline-block;
   float: left;
   margin:8px 5px 0 0;
  background:url(../img/sprite.png);
  background-repeat: no-repeat;
}

.list1 h3::before, .list4 h3::before {background-position:-85px 0;}
.list2 h3::before, .list5 h3::before {background-position:-58px 0;}
.list3 h3::before {background-position:-31px 0;}
.list6 h3::before {background-position:-10px 0;}

.list2, .list5 {
	background-color: #f5f4f9;
}

.list3 {
	background-color: #5e42b0;
}

.list6 {
	background-color: #090c35;
}

.list3 p, .list6 p {
	color: #ffffff;
}

.instr img {
	width: 100%;
  }

div.instr_image {
position: relative;
}

.cube {
  position: absolute;
  width: 70px;
  height: 70px;
  background-color: #5e42b0;
  left: 20px;
  bottom: -10px;

}

div.num::before {
  content: "";
  width: 18px;
   height: 20px;
   display: inline-block;
   float: left;
   margin: 25px 25px;
  background:url(../img/sprite2.png);
  background-repeat: no-repeat;
}

div.num1::before {background-position:-44px 0;}
div.num2::before {background-position:-20px 0;}
div.num3::before {background-position: 0 0;}

.instr h3 {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 28px;
	color: #e7e7e7;
}

.instr p {
	font-size: 16px;
}

.text {
	padding: 0px 20px 80px 20px;
}

footer {
  margin: 0 auto;
  height: 568px;
  background-color: #0b0f33;
  background-image: url(../img/game320.jpg);
  background-size: cover;
  color: #ffffff;
  text-transform: uppercase;
  padding-top: 100px;
  text-align: center;
}

.cube2 {

  margin: auto;
  width: 70px;
  height: 70px;
  background-color: #6f4fcb;
  border-radius: 10px;
  text-align: center;
}

.logo_foot {
margin-top: 10px;

}

.download {
  margin-top: 57px;
  font-size: 32px;
  font-weight: 700;
  line-height: 0;
}

.motto3 {
  font-size: 14px;
  color: #9b8ec1;
  margin-bottom: 75px;
}

.logo_foot2 {
  margin-top: 80px;
}

@media (min-width: 641px) and (max-width: 960px) {

  header {
    height: 959px;
    background-image: url(../img/foorball768.jpg);
  }

  .logo {
    width: 205px;
    height: 60px;
  }

  h2.motto1, h2.motto2 {
    font-size: 64px;
  }
  .motto1 {
  	margin-left: 11.7%;

  }

  .motto2 {
  	margin-left: 25.8%;
  }

  div.buttons {
    display: flex;
    justify-content: center;
  }

  .button {
    width: 40%;
    height: 76px;
  margin: 0 15px;
  }

  .apple::before {
    width: 42px;
    height: 46px;
    margin-top: 15px;

  }

  .google::before {
    width: 42px;
    height: 46px;
    margin-top: 15px;

  }


  .button__label {
  	width: 35%;
    font-size: 14px;
    margin-top: 15px;

  }

  .name {
    position: relative;
  }

  .pic {
  	position: absolute;
    top: 0;
    left: 0;


  }

  .name h2 {
  	font-size: 80px;
    margin-left: 290px;
    margin-top: 86px;
  }

  .list h3 {
  	font-size: 32px;
  	margin-left: 290px;
  }
  .list p {
  	font-size: 16px;
    margin-left: 290px;
  }
  .list {
  	padding: 10px 20px;
  }

  .name2 h2 {
    margin-left: 34px;
    margin-right: 340px;
  }
  .list4 h3, .list5 h3, .list6 h3, .list4 p, .list5 p, .list6 p {
    margin-left: 34px;
    margin-right: 340px;
  }

  .pic2 {
    right: 0;
    top: -50px;
    text-align: right;

  }



  .list h3::before {
    content: "";
    width: 22px;
     height: 25px;
     display: inline-block;
     float: left;
     margin: 12px 5px 0 0;
    background:url(../img/sprite768-1.png);
    background-repeat: no-repeat;
  }

  .list1 h3::before, .list4 h3::before {background-position: 0 0;}
  .list2 h3::before, .list5 h3::before {background-position:-24px 0;}
  .list3 h3::before {background-position:-48px 0;}
  .list6 h3::before {background-position:-72px 0;}

  .cube {
    position: absolute;
    width: 115px;
    height: 115px;
    background-color: #5e42b0;
    left: 33px;
    bottom: -26px;

  }
  div.num::before {
    content: "";
    width: 29px;
     height: 33px;
     display: inline-block;
     float: left;
     margin: 41px 43px;
    background:url(../img/sprite768-2.png);
    background-repeat: no-repeat;
  }

  div.num1::before {background-position: 0 0;}
  div.num2::before {background-position:-32px 0;}
  div.num3::before {background-position: -64px 0;}

  .instr h3 {
  	font-size: 80px;
  }

  .instr p {
  	font-size: 24px;
  }

  .text {
  	padding: 0px 100px 80px 20px;
  }

  footer {
    height: 958px;
    background-image: url(../img/game768.jpg);
    padding-top: 100px;
    text-align: center;
  }

  .cube2 {
    width: 130px;
    height: 130px;
    background-color: #6f4fcb;
    border-radius: 20px;
    text-align: center;
    margin-top: 125px;
  }

  .logo_foot {
  margin-top: 20px;
  width: 100px;
  height: 85px;

  }

  .download {
    margin-top: 82px;
    font-size: 80px;
  }

  .motto3 {
    font-size: 36px;
    margin-bottom: 285px;
  }

  .logo_foot2 {
    margin-top: 80px;
    width: 205px;
    height: 60px;
  }

}

@media (min-width: 961px) {



  header {
    height: 960px;
    background-image: url(../img/foorball1920.jpg);
  }

  .logo {
    width: 190px;
    height: 52px;
  }

  h2.motto1, h2.motto2 {
    font-size: 90px;
  }
  .motto1 {
    margin-left: 10%;

  }

  .motto2 {
    margin-left: 33.5%;
  }

  div.buttons {
    display: flex;
    justify-content: center;
  }

  .button {
    width: 310px;
    height: 78px;
  margin: 0 15px;
  }

  .apple::before {
    width: 42px;
    height: 46px;
    margin-top: 15px;

  }

  .google::before {
    width: 42px;
    height: 46px;
    margin-top: 15px;

  }


  .button__label {
  	width: 35%;
    font-size: 14px;
    margin-top: 15px;

  }

  .name {
    position: relative;
  }

  .pic {
    position: absolute;
    top: 0;
    left: 20vw;
    }
.pic img {
    width: 30vw;
}

  .name h2 {
    font-size: 80px;
    margin-left: 52vw;
    margin-top: 115px;
  }

  .list h3 {
    font-size: 36px;
    margin-left: 52vw;
  }
  .list p {
    font-size: 20px;
    margin-left: 52vw;
  }
  .list {
    padding: 40px 20px;
  }

  .name2 h2 {
    margin-left: 10vw;

  }
  .list4 h3, .list5 h3, .list6 h3, .list4 p, .list5 p, .list6 p {
    margin-left: 10vw;
    margin-right: 51vw;
  }

  .pic2 {
    right: 7vw;
    top: -80px;
    text-align: right;

  }
.pic2 img {
  width: 51vw;
}

  .list h3::before {
    content: "";
    width: 22px;
     height: 25px;
     display: inline-block;
     float: left;
     margin: 14px 5px 0 0;
    background:url(../img/sprite768-1.png);
    background-repeat: no-repeat;
  }

  .list1 h3::before, .list4 h3::before {background-position: 0 0;}
  .list2 h3::before, .list5 h3::before {background-position:-24px 0;}
  .list3 h3::before {background-position:-48px 0;}
  .list6 h3::before {background-position:-72px 0;}

  .cube {
    position: absolute;
    width: 168px;
    height: 155px;
    background-color: #5e42b0;
    left: auto;
    right: -80px;
    top: 210px;
  }

  .cube12 {
      left:-80px;
      top: 210px;
  }

  div.num::before {
    content: "";
    width: 29px;
     height: 33px;
     display: inline-block;
     float: left;
     margin: 61px 69px;
    background:url(../img/sprite768-2.png);
    background-repeat: no-repeat;
  }

  div.num1::before {background-position: 0 0;}
  div.num2::before {background-position:-32px 0;}
  div.num3::before {background-position: -64px 0;}

  div.instr {
  display: flex;
  box-sizing: border-box;
  }

  div.instr_image {
    width: 50%;
    box-sizing: border-box;
  }
  div.text {
    width: 50%;
    box-sizing: border-box;
  }

  div.instr2 {
    flex-direction: row-reverse;
  }


  .instr h3 {
  	font-size: 4.2vw;
  }

  .instr p {
  	font-size: 1.25vw;
  }

  .text {
    padding: 150px 180px 80px 126px;
  }

  footer {
    height: 960px;
    background-image: url(../img/game1920.jpg);
    padding-top: 100px;
    text-align: center;
  }

  div.foot_cont {
    display: flex;
      justify-content: center;
  }


  .cube2 {
    width: 130px;
    height: 130px;
    background-color: #6f4fcb;
    border-radius: 20px;
    text-align: center;
    margin: 50px 30px;
  }

  .logo_foot {
  margin-top: 20px;
  width: 100px;
  height: 85px;

  }

  .download {
    margin-top: 82px;
    font-size: 80px;
    line-height: 0;
  }

  .motto3 {
    font-size: 36px;
    margin-bottom: 285px;
    line-height: 0;
  }

  .logo_foot2 {
    margin-top: 250px;
    width: 190px;
    height: 55px;
  }

}
